<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.MemberMapper">

    <select id="findByUsername" resultType="com.spring.board.dto.MemberDto">
        SELECT ID
             , USERNAME
             , PASSWORD
             , REMARK
             , ROLE
             , EMAIL
        FROM TB_USER
        WHERE USERNAME = #{username}
    </select>

    <select id="findAll" resultType="com.spring.board.dto.MemberDto">
        SELECT ID
             , USERNAME
             , PASSWORD
             , REMARK
             , ROLE
             , EMAIL
        FROM TB_USER
    </select>

    <select id="checkId" resultType="int">
        SELECT COUNT(1)
        FROM TB_USER
        WHERE USERNAME = #{username}
    </select>

    <select id="checkEmail" resultType="int">
        SELECT COUNT(1)
        FROM TB_USER
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertMember">
        INSERT INTO TB_USER
        (
            USERNAME
          , PASSWORD
          , ROLE
          , EMAIL
        )
        VALUES
        (
           #{username}
         , #{password}
         , 'USER'
         , #{email}
        )
    </insert>

    <update id="updatePasswordEncode">
        UPDATE TB_USER
        SET PASSWORD = #{password}
        WHERE ID = #{id}
    </update>

</mapper>