<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.ResultHisMapper">

    <select id="findResultHisList" resultType="com.spring.board.dto.ResultHisDto">
        SELECT id
             , user_id
             , result
             , DATE_FORMAT(req_date, '%Y.%m.%d %H:%i') AS req_date
        FROM resulthis
        WHERE #{baseDate} = DATE_FORMAT(req_date,'%Y%m')
    </select>

    <insert id="insertResultHis">
        INSERT INTO resulthis
        (
            user_id
          , result
          , req_date
        )
        VALUES
        (
           #{userId}
         , #{result}
         , #{reqDate}
        )
    </insert>

</mapper>