.LoginMainWrap {
  margin: 0 auto;
}

.LoginMain {
  font-family: Arial, sans-serif;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.logo-container {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 150px;
  height: 40px;
  position: relative;
  right: 4px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.LoginMainInput-group {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: gray;
  width: 360px;
}

.LoginMainInput-group label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}

.LoginMainInput-group > input {
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.login-username {
  border: none;
}

.login-password {
  border: none;
}

.password-toggle {
  margin-right: 15px;
  cursor: pointer;
}
.LoginMainCheckMessageArea {
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: left;
}
.LoginMainCheckMessage {
  color: rgb(242, 53, 53);
}
.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}

.checkbox-group label {
  font-size: 15px;
}

.login-button {
  width: 360px;
  height: 50px;
  padding: 10px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: rgba(255, 178, 34, 0.801);
}

.help-links {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.help-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 5px;
}

.help-links a:hover {
  text-decoration: underline;
}
