.RegisterMemberWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.RegisterMemberLogoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.RegisterMemberLogoArea img {
  width: 150px;
  height: 40px;
}
.RegisterMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
}

.RegisterMember h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.register-form {
  width: 90%;
}
.RegisterMemberInputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}
.RegisterMemberInputArea {
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  border: 1px dotted lightblue;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.RegisterMemberInputArea label {
  display: block;
  font-size: 15px;
  width: 130px;
  margin-left: 10px;
  text-align: left;
}
.InputStarSpan {
  color: red;
  vertical-align: middle;
  margin-right: 3px;
}

.RegisterInput {
  position: relative;
  height: 40px;
  width: 100%;
  max-width: 350px; 
  border: none;
  outline: none;
  padding-right: 40px;
  border-bottom: 3px solid rgba(208, 208, 208, 0.5);
}
.RegisterInput:focus {
  border-bottom: 2px solid rgb(84, 83, 83);
}

.RegisterMemberInputArea select {
  width: 430px;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* border-bottom: 2px solid rgba(208, 208, 208, 0.5); */
  height: 40px;
}
.EyeSlashIcon {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 18px;
}
.RegisterMemberErrorArea {
  display: flex;
  /* margin-left: 130px; */
}

.blank_div {
  display: block;
  font-size: 15px;
  width: 130px;
  margin-left: 10px;
  text-align: left;
}
.error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  text-align: left;
}

.success {
  color: rgb(15, 180, 0);
  font-size: 15px;
  margin-top: 5px;
  text-align: left;
}

.register-button {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.register-button:hover {
  background-color: rgba(255, 178, 34, 0.801);
}
